.main {
    background-color: azure;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.img-title {
    width: 1em;
    height: 1em;
    padding-left: .7em;
}

.icon {
    text-align: end;
}

.title-page {
    font-size: x-large;
    text-transform: uppercase;
    text-decoration: bold;
}

.jumbotron {
    color: white;
    background-image: url(/img/back.jpg);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #06a77d;
    text-decoration: wavy;
    color: white;
    padding: 2em 0em;
}

.footer .selected {
    align-self: flex-end;
}

.resaltado {
    font-weight: 900;
    font-size: larger;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
}

.lenguajes {
    display: flex;
    justify-content: start;
}

.lenguajes h5 {
    padding-left: .5em;
}

.imagenProyecto {
    display: flex;
    justify-content: center;
    padding-top: 1.5 em;
}

.bottomProyecto {
    display: flex;
    justify-content: space-between;
}