        a.title-header {
            text-transform: uppercase !important;
            text-decoration: bold !important;
        }
        
        .img-title {
            width: 1em;
            height: 1em;
            padding-left: .7em;
        }
        
        .icon {
            text-align: end;
        }